*{
	padding: 0;
	margin: 0; 
}
a{
	text-decoration: none;
}
body{
	height: 3500px;
	width: 1560px;
	margin: 0 auto;
}
li{
	list-style-type: none;
}
a:link{
	color: #000;
}
a:active{
	color:rgb(30,80,174);
}
a:visited{
	color: #000;
}
#body{
	width: 1560px;
	margin: 0 auto;
}
img{
	border: none;
}

.tou1{
	margin: 0 auto;
	text-align: center;
	padding-bottom: 24px;
	padding-top: 34px; 
}

#headbottom{
	margin: 0 auto;
	width:1560px;
	height:46px;
	position:absolute;
}

#headlist{
	width:672px;
	height:46px;
	margin:0 auto;
	position:relative;
	border-radius: 25px;
	text-align: center;
	background: #fff;
	-webkit-border-radius:25px; 
	-moz-border-radius:25px;
	-ms-border-radius:25px; 
	-o-border-radius:25px;   

}
.titlef{
	width: 70px;
	height:46px;
	margin: 13px 0 16px 0;
	float: left;
	display:inline;
	
}
.titlef1{
	float:left;
	width: 115px;
	height:46px;
	display:inline;
	margin:13px 0 16px 0;
}

.titlef2{
	float: left;
	width: 100px;
	height:46px;
	display:inline;
	margin-top: 13px;
}
.list{
	width: 32px;
	height: 30px;
	font: 14px '微软雅黑';
    float: left;
    margin-left: 20px;
    margin-right: 5px;
    color:rgb(30,80,174);
	border-bottom:solid 3px rgb(30,80,174);
	text-decoration:none;
}

.list1{
	width: 64px;
	padding-left: 30px;
	padding-right: 30px;
	font: 14px '微软雅黑';
	float: left;
    border-left: 2px solid rgb(222, 228, 236) ;
    margin:0 auto;
}
.list2{
	width: 64px;
	padding-left: 30px;
	font:14px '微软雅黑';
	float: left;
    margin:0 auto;
    border-left: 2px solid rgb(222, 228, 236) ;
}
 /*header结束*/
 /*组1开始*/

 .zu{
 	width: 1560px;
 	height: 215px;
 }
.zu1{
	padding-top: 60px;
	text-align: center;
	font: 34px '微软雅黑';
	margin-bottom: 20px;
}
.zu2{
	text-align: center;
	font: 31.45px 'Times New Roman';
	margin-bottom: 0;
 }
 #zu3{
	height: 600px;
	padding-left: 250px;

 }
.yuans{
	float: left;
	height: 370px;
}
.three{
	padding-right: 155px;
}
.yuanx{
	float: left;
	height: 250px;
}
.clu{
	margin-top: 20px;
	margin-bottom: 20px;
	font: 16px '微软雅黑';
	color: #000;
	padding-left: 40px;
}
.two{
	margin-top: 20px;
	margin-bottom: 20px;
	font: 16px '微软雅黑';
	color: #000;
	padding-left: 20px;
}
.lb{
	font: 14px '微软雅黑';
	color: rgb(144, 144, 144);
	list-style: url('../img/tubiao.png') inside;
	padding-left: 40px;
	line-height: 2em;
}

/*组2开始*/

.cu{
 	width: 100%;
 	height: 215px;
 }
.cu1{
	padding-top: 60px;
	text-align: center;
	font: 34px '微软雅黑';
	margin-bottom: 20px;
	color: white;
}
.cu2{
	text-align: center;
	font: 31.45px 'Times New Roman';
	color: white;
	margin-bottom: 0;

 }
.cu3{
	height: 300px;

}
.cu4{
	padding-left: 30px;
}
.cu5{
	height: 200px;
	text-align: center;
	padding-top: 80px;
}
/*组3开始*/

.su{
	height: 300px;
	width: 400px;
	padding-left: 100px;
	float: left;
	margin-bottom: 90px;
}

.su1{
	height: 245px;
	width: 515px;
	margin-left: 200px;
	float: left;
	margin-bottom: 90px;
}

#su2{
	font: 22px '微软雅黑' ;
	padding-bottom: 20px;
}
#su3{
	font: 18px '微软雅黑' lighter;
	padding-bottom: 35px;
}

#su4{
	font: 14px '微软雅黑';
	color: rgb(144, 144, 144);
	list-style: outside url(img/tubiao.png) ;
	line-height: 2.5em;
	padding-bottom: 35px;
}

.su0{
	height: 300px;
	width: 575px;
	float: left;
	margin-left: 100px;
	list-style: none;
}

.su5{
	font: 14px;
	color: rgb(144, 144, 144);
	height: 35px;
	border-bottom: 2px dashed rgb(144, 144, 144);
	list-style: none;
	text-align: center;
	padding-top: 15px;
}
.su6{
	padding-top: 15px;
	font: 14px;
	height: 35px;
	color: rgb(144, 144, 144);
	list-style: none;
	text-align: center;
}

.su7{
	height: 300px;
	width: 580px;
	float: left;
	margin-left: 30px;
}

.last{

	height: 260px;
	width: 1560px; 
	background-color: rgb(50,50,50);
	float: left;
}

.last1{
	height:260px;
	width:1450px;
	float: left;
	padding-left: 100px;
	padding-top: 70px;
}

.last2{
	width: 180px;
	height: 145px;
	color: rgb(245, 245, 245)	;
	float: left;
	margin: 0;
}
.last2>p{
	font: 18px ;
	padding-bottom: 30px;
}
.last2>ul>li{
	font-size: 14px;
	line-height: 3em;
	margin: 0;


}
.imga{
	float: left;
	width: 200px;
	height: 147px;
	margin-right: 30px;
}

.last4{
	color: rgb(245, 245, 245);
}
.l1{
	font: 18px;
}
.l2{
	font-size: 14px;
	padding-top: 20px;
}
.l3{
	font-size: 14px;
	padding-top: 30px;
}
.last5{
	margin-top: 1px;
	height: 125px;
	width: 1560px; 
	background-color: rgb(50,50,50);
	float: left;
}
.last5>p{
	font-size: 14px;
	color: rgb(245, 245, 245);
	text-align: center;
	margin-top: 20px;
}







